@model MyAutoService.Models.ViewModels.LoggedInUserViewModel
<li class="nav-item">
        <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">سلام @Model.Name!</a>
    </li>
<li class="nav-item">
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page(null, new { area = "" })" method="post" >
        <button  type="submit" class="nav-link btn btn-link">خروح از سیستم</button>
    </form>
</li>
@if (Model.ShoppingCart.Any())
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            سبد خرید
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            @foreach (var item in Model.ShoppingCart.Select(c => c.Car).Distinct())
            {
                <a class="dropdown-item" href="#">@item.Name</a>
                @foreach (var service in Model.ShoppingCart.Where(c => c.CarId == item.Id).Select(c => c.ServiceType).ToList())
                {
                    
        <a class="dropdown-item">@service.Name (@service.Price.ToString("#,0"))</a>
                }
                <div class="dropdown-divider"></div>
            }

        </div>
    </li>
}