@page
@model MyAutoService.Pages.Cars.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>حذف ماشین</h1>

<h3>آیا از حذف مشاین @Model.Car.Name مطمئن هستید ؟</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.ImageName)
        </dt>
        <dd class="col-sm-10">
            <img src="/CarImages/@Model.Car.ImageName" class="img-thumbnail" style="max-width: 120px" />
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Car.Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-page="./Index">بازگشت</a>
    </form>
</div>
