@page
@model MyAutoService.Pages.Users.DeleteModel
@{
}
<h3>آیا از حذف کاربر '@Model.ApplicationUser.Name' مطمئن هستید ؟</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>

    </dl>

    <form method="post">
        <input type="hidden" asp-for="ApplicationUser.Id" />
        <input type="submit" value="خذف" class="btn btn-danger" /> |
        <a asp-page="./Index">بازگشت به لیست</a>
    </form>
</div>